<!-- Navigation Bar -->
<div class="nav">
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/signup">Signup</a>
</div>

<h1>Tech Blog</h1>




{{#each posts}}
<div style="border: solid black 1px ; margin: 10px;">
  <div style="background-color: #3B4A68; display:flex; justify-content:space-between; color: #E37262; font-size: 5px;">
    <h5>{{title}} </h5>
    <h5> User: {{user.username}} Time: </h5>
  </div>
  <div>
    <p>{{post_text}}</p>
  </div>

</div>
{{#each comments}}
<div style="border: solid black 1px ; margin: 10px;">
  <div style="background-color: #657B79; display:flex; justify-content:space-between; color: #FFF8E9; font-size: 10px;">
    Comment: {{comment_text}} <br>
    Name: {{user.username}} <br>
    {{!-- Date: {{date}} --}}
  </div>
</div>


{{/each}}


{{/each}}