<h1>Tech Blog</h1>




  {{#each posts}}
  <div style="border: solid black 1px ;">
  <div style="background-color: #3B4A68; display:flex; justify-content:space-between; color: #E37262">
    <h3>{{title}} </h3>
   <h3> User: {{user.username}} Time:  {{createdAt}}</h3> 
  </div>
  <div>
    <p>{{post_text}}</p>
  </div>
</div>
  {{/each}}


<script>
  let date = {{createdAt}};

var date = new Date(dateString);

var formattedDate = date.toLocaleString('en-US', { 
    month: '2-digit',
    day: '2-digit',
    year: 'numeric',
    hour: '2-digit',
    minute: '2-digit',
    hour12: true
});

console.log(formattedDate); 
</script>